
/* Dear Guardian,
I hope you do not mind too much that I have so shamelessly lifted (and then proceeded to mess with) your CSS.
It came from a place of love.
Kind regards,
Lily  */



@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 90%;
}

.main {
  min-width: fit-content;
  margin-right: -200px;
  margin-left: 20px;
}

.should-kern body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

html,
body {
  text-rendering: optimizeSpeed;
}

body {
  line-height: 1.5;
  color: #121212;
}

body {
  background-color: #ffffff;
}

body:after {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 0.0625rem !important;
  margin: -0.0625rem !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0.0625rem !important;
  content: 'mobile';
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

menu,
ol,
ul {
  padding: 0;
  margin-left: 1.5625rem;
}

ol,
ul {
  list-style-position: inside;
}

user agent stylesheet ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.should-kern body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

html,
body {
  text-rendering: optimizeSpeed;
}

body {
  line-height: 1.5;
  color: #121212;
}

.pillar-link.pillar-link--Culture:after {
  border-color: #eacca0;
}

.pillar-link:before,
.pillar-link:not(.pillar-link--dropdown):after {
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
}


.pillar-link:after {
  border-top: 0.25rem solid currentColor;
  left: 0.0625rem;
  right: 0;
  top: -0.25rem;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

html {
  font-family: "Guardian Text Egyptian Web", Georgia, serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


.new-header:not(.new-header--slim) .pillars:after {
  content: '';
  border: 0.0625rem solid #506991;
  min-width: fit-content;
  border-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.25rem;
}

::selection {
  /* background: #ffe500; */
  color: #121212;
}

.gs-container {
  position: relative;
  margin: 0 auto;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

user agent stylesheet html {
  color: -internal-root-color;
}

.new-header__inner:after,
.new-header__inner:before {
  content: '';
  display: table;
}

.new-header__inner:after {
  clear: both;
}

.new-header__inner:after,
.new-header__inner:before {
  content: '';
  display: table;
}

::selection {
  /* background: #ffe500; */
  color: #121212;
}

header.new-header.pillar-scheme-- {
  background-color: rgb(5, 41, 98);
  color: rgb(18, 18, 18);

  font-family: "Merriweather", Georgia, serif;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  height: auto;

  margin-bottom: 0px;

  text-rendering: optimizelegibility;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}



.pillar-link.pillar-link--Lifestyle:hover {
  color: #ffabdb;
}

.pillar-link:before,
.pillar-link:not(.pillar-link--dropdown):after {
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
}

.pillar-link:after {
  border-top: 0.25rem solid currentColor;
  left: 0.0625rem;
  right: 0;
  top: -0.25rem;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}


.portfolio {
  margin-top: 0;
  letter-spacing: -0.05em;
  color: white;
  grid-column: 3;
  grid-row: 1;
  align-content: space-between;
  /* align-self: start; */
  justify-self: center;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-size: 5em;
  margin-right: 2rem;
  font-weight: 800;
  line-height: 60%;
  text-align: center;
  padding-right: 0.1em;



}

.filler {
  display: flex;
  height: 1em;

}

.the {
  display: grid;
}

.gs-container {
  position: relative;
  margin: 0 auto;
}

.should-kern body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

html,
body {
  text-rendering: optimizeSpeed;
}

body {
  line-height: 1.5;
  color: #121212;
}

html {
  font-family: "Guardian Text Egyptian Web", Georgia, serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


.new-header__logo,
.portfolio {
  /* float: right; */
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.u-fauxlink {
  color: #005689;
  cursor: pointer;
  text-decoration: none;
}

a,
button,
input[type='button'],
input[type='submit'] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  background: transparent;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.should-kern body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

.heading-area {
  padding-left: 20px;
  padding-bottom: 3px;
  height: auto;
}

.setter {
  line-height: 0.2em;
  font-family: Merriweather, serif;
  color: #bb3b80;
  display: inline;
}



.italic {
  font-style: italic;
}

.icons {
  padding-top: -2em;
  display: inline-flex;
  ;
}

.circle:hover {
  background-color: #bb3b80;


}

svg:hover {
  fill: white;
}

a {
  color: black
}

.div.grid-item:hover {
  background: yellow;

}

.direction {
  font-weight: 800;
  margin-top: 0;

}

.small-heading,
.direction {
  font-family: Merriweather, serif;
}

h1 {
  margin-top: 0;
  font-family: Merriweather, serif;
}

.date {
  height: 0.2em;
  font-size: 0.75rem;
  line-height: 0em;
  font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: relative;
  color: #767676;
}

h3 {
  color: #bb3b80;
}


img {
  border: 0;

}

.index-page-header {
  margin-left: 2em;
  width: 80%;
  align-items: center;
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: space-around;

}

.index-page-header__image {
  display: flex;
  justify-self: flex-end;
  height: 7rem;
  border-radius: 50%;
  padding: 0.5em;

}

.index-page-header__title {
  line-height: 98%;
  padding: 2%;
}

.fc-item__meta {
  margin-top: 1em;
  margin-bottom: 10px;

}

.fc-item__content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.index-page {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
}

.red-highlight-headline-text {
  font-size: 1.5em;
}


.header-title {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 900;
  flex-wrap: nowrap;

}

.fc-item__container {
  display: flex;
  border-top: 0.0625rem solid #dcdcdc;
  border-top: 0.0625rem solid #dcdcdc;

}

.responsive-img {
  padding: 1em;
}



p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

user agent stylesheet p {

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.index-page-header__description {
  display: flex;
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-weight: normal;
  color: #767676;
  margin: 25px;
}

.should-kern body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

html,
body {
  text-rendering: optimizeSpeed;
}

body {
  line-height: 1.5;
  color: #121212;
}


nav {
  background-color: rgb(5, 41, 98);
  display: grid;
  grid-template-rows: 75% 23% 1%;
  grid-template-columns: 3% 40% 5% 35%;
  padding-left: 1em;
  justify-content: start;
  align-items: center;

}

.big-title {
  grid-row: 1;
}


.pillar-link {
  color: white !important;
  display: flex;
  font-weight: 800;

  box-sizing: border-box;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


.pop {
  grid-row: 1;
  align-self: start;
}

.pillars__item {
  border-left: 0.0625rem solid #506991;
  align-self: baseline;
}

.u-faux-block-link__cta {
  font-size: 1.2rem;
}


.comment-icon {
  padding: 1px;
  margin-bottom: -5px;
}

.pillars {
  display: flex;
  align-self: baseline;

}

.pillar-container {
  grid-row: 2;
  display: flex;
  grid-column: 1/3;

}

.cta-bar__heading {
  font-size: 1.6rem;
  line-height: 1.4rem;
  letter-spacing: 1.1pt;
  font-family: "Merriweather", Georgia, serif;
  font-weight: normal;
  color: #ffe500;
  font-weight: 600;
}



/* CROSSWORD */

main {
  display: grid;
  grid-template-rows: 4% 60vh;
  margin-right: 10px;
  grid-column-gap: 1%;
  line-height: 1.5;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-row: 1;
  width: 90vw;
}

div.grid {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  margin-left: 20px;
  margin-right: 50px;
  width: 465px;
  height: 465px;
  display: flex;
  flex-wrap: wrap;
}

nav {
  height: auto;
}

div.grid-item {
  width: 31px;
  height: 31px;
  border: 1px solid black;
  cursor: pointer;
  fill: #ffffff;
  align-content: center;
  justify-content: center;
  background-color: black;
}


::selection {
  /* background: #ffe500; */
  color: #121212;

}

#tiny {
  vertical-align: super;
  font-size: 0.5em;
  margin-top: 0;
  padding-left: 0.3em;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: red;
  display: none;
}

h3 {
  font-size: 0.8em;
}



section.clues {
  justify-content: center;
  font-size: 32pt;
  grid-row: 1;
  align-content: start;
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(2, 50%);
  font-size: 0.875em;
  font-size: 0.8rem;
  line-height: 1.375rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  min-width: 50vw;

}

h5 {
  display: inline;
  padding: 1em;
}

p {
  display: inline;

}

.clue-container {
  padding: 0.3em;
}

.control-buttons {
  outline: 0;
  background: #bb3b80;
  border: 0.0625rem solid #bb3b80;
  font-size: 0.875rem;
  line-height: 1.375rem;

  margin-bottom: 0.75rem;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}


.name {
  font-size: 1.0625rem;
  line-height: 1.25rem;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  border-top: 0;
  color: #767676;
  font-style: italic;
  min-height: 0;
  margin-bottom: 0.25rem;
  font-weight: normal;
  width: 100%;
}

.nav-bottom {
  background-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 0.0625rem 0.8125rem;
  background-color: #ffffff;
  content: '';
  display: block;
  height: 0.8125rem;
  border: 0.0625rem solid #dcdcdc;
  border-top: 0;
  border-bottom: 0;
}

.social-icon svg {
  height: 88%;
  width: 88%;
}

/* svg .comment-icon {
  margin-bottom: -5px !important;
} */

svg {
  fill: #bb3b80;
}

.circle {
  padding-top: 0.1em;
  display: flex;
  flex-wrap: nowrap;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  border: 0.0625rem solid #dcdcdc;
  justify-content: center;
  align-content: center;
  margin: 0.3em;
  margin-bottom: 0.5em;
}

.centered-icon svg {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: 3em;
}

.social-icon,
.social-icon:hover,
.social-icon:active,
.social-icon:focus {
  color: #ffffff;
  text-decoration: none;
}

.social__item {
  float: left;
  min-width: 2rem;
  padding: 0 0.1875rem 0.375rem 0;
  cursor: pointer;
}

.social__action {
  display: inline-block;
}



.u-unstyled,
.inline-list,
.linkslist,
li {
  margin: 0;
  list-style: none;
}

div.letters {
  padding-top: 0.1em;
  align-content: center;
  font-size: 1em;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  text-transform: uppercase;
  font-weight: 500;


}

.crossword {
  font-family: 'Source Sans Pro', sans-serif;
  /* display: none; */
}

.crossword__controls {
  margin-top: 0.75rem;
  float: left;
  clear: both;
}

.crossword__controls .button--primary {
  background: #bb3b80;
  border: 0.0625rem solid #bb3b80;

  font-size: 0.8125rem;
  line-height: 1.125rem;

  height: 1.875rem;
  padding: 0 0.625rem;
  margin-right: 0.625rem;
  line-height: 1.75rem;
  color: #fff;
  grid-row: 3;
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-weight: 500;
  text-decoration: none;
  border-radius: 62.5rem;
  border-width: 0.0625rem;
  border-style: solid;
  box-sizing: border-box;
}

.crossword__controls .button {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 0.75rem;
}

.clueNumber {
  flex-flow: nowrap;
  margin-right: 2px;
  margin-left: -1em;
  font-size: 0.5em;
  margin-top: -1px;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  color: black
}

.clueNumberTwo {
  flex-flow: nowrap;
  margin-left: -1em;
  font-size: 0.5em;
  margin-bottom: 0;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  color: black
}

.crossword__controls:hover .button--primary:hover,
.crossword__controls:hover .button--primary:visited,
.crossword__controls .button--primary:focus {
  background: #942f65;
  border-color: #942f65;
}




.button--primary:hover {
  background: #812958;

}

.button--secondary {
  color: #767676;
  background: #ededed;
  border: 0.0625rem solid #ededed;
  font-size: 0.8125rem;
  line-height: 1.125rem;

  height: 1.875rem;
  padding: 0 0.625rem;
  margin-right: 0.625rem;
  line-height: 1.75rem;
  color: #767676;

  display: inline-block;
  vertical-align: top;
  width: auto;
  font-weight: 500;
  text-decoration: none;
  border-radius: 62.5rem;
  border-width: 0.0625rem;
  border-style: solid;
  box-sizing: border-box;
}


.wrapper {
  display: inline-block;
}


.button-container {
  position: relative;
  /* z-index: -1; */
  display: grid;
  grid-row: 3;
  align-self: start;

  /* justify-content: center; */

  font-size: 0.875rem;
  line-height: 1.25rem;

  margin-left: 1rem;
  font-style: italic;

}


.contributions__adblock .contributions__adblock-header {
  padding-left: 0.625rem;
  padding-top: 0.1875rem;
  z-index: 2;
}

.contributions__adblock .contributions__adblock-content {
  border-top: 0.3125rem solid #ffe500;
  margin-right: 1.25rem;
  background-color: white;
  padding: 1em;
  z-index: 2;
}



.contributions__adblock {
  position: absolute;
  top: 0;
  padding-top: 0.375rem;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  font-family: Merriweather, serif;
}

.contributions__adblock .contributions__adblock-header h2 {
  /* font-size: 2.125rem;
    line-height: 2.375rem; */
  font-family: Merriweather, serif;
  font-weight: normal;
  font-weight: 700;
  font-family: Merriweather, serif;
}

.contributions__adblock .contributions__adblock-button {
  margin-top: 0.625rem;
  margin-left: 0.3125rem;
  background-color: #ffe500;
  color: #121212 !important;
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: Merriweather, serif;

  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  height: 2.625rem;
  min-height: 2.625rem;
  padding: 0 1.3125rem;
  border-radius: 1.3125rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.pop {
  background-color: transparent;
  grid-row: 2;

  padding-top: 0;
  margin-top: 0;
  height: 60%;

}

.inline-arrow-right__svg {
  fill: rgb(5, 41, 98);
}

.component-button__content-pop {
  margin-top: 0.5em;
  grid-row: 3 !important;

  color: rgb(5, 41, 98) !important;

  background-color: #ffe500;

  font-size: 1rem;
  line-height: 1.375rem;
  font-family: Merriweather, serif;

  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  height: 2.625rem;
  min-height: 2.625rem;
  padding: 0 0.6rem;
  border-radius: 1.3125rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.top {
  height: 40%;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  grid-row-gap: 6%;
  margin-bottom: 3em;
}

.cta-bar__subheading {
  color: white;
}

.contributions__adblock-button:hover {
  background: #812958;
  color: white;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.fade {
  opacity: 1;
  animation: fade 2s linear;

}

.direction {

  padding-top: 0.3em;
  border-top: 0.0625rem solid #bb3b80;
  border-bottom: 0.0625rem dotted #dcdcdc;
  padding-bottom: 0.5625rem;
}



.bio {
  display: none;
}

.bio-writing {
  font-size: 1.2em;
}

.info {
  display: none;
  /* display: inline-block; */
  float: right;
  width: 40%;


}

.show-bio {
  z-index: 1;
}

.show-crossword {
  display: none;
}

.red-highlight,
.ruby,
.typescript,
.tdd,
.rspec,
.jest,
.rails,
.orange-highlight,
.html,
.postgresql,
.flask,
.yellow-highlight,
.pink-highlight,
.blue-highlight,
.mongo {
  z-index: 1;
  border-top: 2px solid rgb(5, 41, 98);

}

.red-highlight:hover,
.html:hover {
  border-top: 2px solid #ff4e36;
}

.orange-highlight:hover,
.postgresql:hover {
  border-top: 2px solid #ff7f0f;
}

.blue-highlight:hover,
.flask:hover {
  border-top: 2px solid #00b2ff;
}

.yellow-highlight:hover {
  border-top: 2px solid #eacca0;
}

.pink-highlight:hover,
.blue-highlight:hover {
  border-top: 2px solid #ffabdb;

}


header.new-header.pillar-scheme-- {
  background-color: rgb(5, 41, 98);
  color: rgb(18, 18, 18);
  min-width: fit-content;

  font-family: "Merriweather", Georgia, serif;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  height: auto;
  margin-bottom: 0px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}


.the {
  margin-bottom: -40px;
  font-size: 0.5em;
}

.show-bio {
  margin-left: 0;
}

.cta-bar__subheading {
  margin-top: 5px;
}

.component-button__content-pop {
  margin-left: -4px;
}

.break {
  display: none;
}



@media (min-width: 750px) {

  .main {
    grid-template-rows: 30vh 70vh;
    justify-content: flex-start;
  }



  .pillar-container {
    /* overflow: hidden; */
    display: flex;
    grid-column-end: 5;
  }

  .clues {
    grid-row: 2;
    grid-column: 1;
    align-self: flex-start;
    grid-template-columns: repeat(2, 50%);
    max-width: 600px;
  }

}

.portfolio {
  grid-column-start: 4;
}

@media (max-width: 1200px) {

  nav {
    grid-template-columns: 100px 400px 400px 100px;
    font-size: 0.9em;
  }

  .portfolio {
    grid-column-start: 3;
  }

  .top {
    margin-left: -50px;
  }
  .break {
    display: inline;
  }

}

@media (max-width: 1100px) {

  main {
    grid-template-columns: 50% 40%;
  }
  .clues {
    margin-left: 15px;
    align-self: flex-start !important;
    grid-column: 2;
    align-self: flex-start;
    grid-template-columns: 35vw !important;
    min-width: auto !important;
    /* display: flex !important; */
    flex-direction: column;
    

  }

  .down {
    grid-column: 1 !important;
    margin-top: 1em;
    grid-row-start: 12 !important;
  }


}


@media (max-width: 850px) {

  nav {
    width: auto;
  }

  .pillar-container {
    /* overflow: hidden; */
    display: flex;
    grid-column-end: 3;
  }

  .top {
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 1em;
  }

  .portfolio {
    grid-column: 2/3;
    grid-row: 1;
    margin-right: 4em
  }

  nav {
    grid-template-columns: repeat(2, 420px);
    max-width: 850px;
    font-size: 0.9em;
  }

  main {
    grid-template-rows: auto auto;
    row-gap: 1em;
    justify-content: start;
  }

  .clues {
    margin-left: 15px;
    grid-row: 3 !important;
    grid-column: 1 !important;
    align-self: flex-start !important;
    grid-template-columns: repeat(2, 40%);
    max-width: 600px;

  }

  .fc-item__container {
    display: grid;
  }

  .break {
    display: inline;
  }

}

@media (max-width: 700px) {
  nav {
    width: 700px;
    grid-template-columns: 200px 400px;
  }
  .pillar-container {
    /* width: 650px; */
    max-width: fit-content;
  }
  .component-button__content-pop {
    display: flex;
    width: 8em;
    height: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    line-height: 12pt;
    margin-right: -12px;
  }
  .portfolio {
    justify-self: flex-start;
    grid-column: 2;

  }
  .break {
    display: inline;
  }
}

@media (max-width: 700px) (min-width: 600px){
  nav {
    min-width: 600px;
    grid-template-columns: 150px 200px 100px;
    column-gap: 2px;
    font-size: 80%;
    padding: 5px;
    justify-content: space-between;
    height: 230px;

  }
}

@media (max-width: 600px){

  .portfolio {
    grid-column: 2;
    grid-row: 1;
    margin-left: 0;
    line-height: 65%;
  }

  .component-button__content-pop {
    display: flex;
    width: 8em;
    height: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    line-height: 12pt;
    margin-right: -12px;
  }

  .top {
    grid-template-rows: 20% 20% 30%;
    row-gap: 15px;
    padding-left: 20px;
  }

  .wrapper {
    margin: 0;
  }

  .main {
    margin-left: 3px;
  }

  .crossword {
    margin-left: 0;
  }

  main {
    grid-template-rows: auto auto auto auto;
    row-gap: 1em;
    width: 100vw;
    justify-content: flex-start;
  }

  .clues {
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    grid-row-start: 3;
    grid-column: 1;
    align-self: flex-start;
    grid-template-columns: 1fr !important;
  }

  .down {
    margin-top: 1em;
    grid-row-start: 9 !important;

  }

  .fc-item__container {
    display: grid;
  }

  .break {
    display: inline;
  }

}

@media (max-width: 500px) { 
  nav {
    grid-template-columns: 150px 180px;
    line-height: 12pt;
  }

  .the {
    margin-bottom: 0;
    font-size: 0.8em;
    line-height: 40%;
  }
  .portfolio {
    line-height: 40%;
    font-size: 65px;
  } 

  .myName {
    line-height: 50%;
    font-size: 0.9em;
  }


  .top {
    line-height: normal;
    row-gap: 10px;
  }

  .component-button__content-pop {
    display: flex;
    width: 8em;
    height: 0.5em;
    margin-bottom: 3em;
    font-size: 0.9em;
    line-height: 12pt;
    margin-right: -12px;
  }


}


@media (max-width: 465px) {
  .crossword {
    margin-left: 1em;
  }
  nav {

    column-gap: 0;
    grid-template-columns: 120px 200px;
    line-height: 12pt;
  }
  .component-button__content-pop {
    display: flex;
    width: 8em;
    height: 2em;
    margin-bottom: 3em;
    font-size: 0.9em;
    line-height: 12pt;
    margin-right: -12px;
  }
 .portfolio {
    grid-column: 2;
    margin-right: 3em;
  } 

@media (max-width: 400px) {

  .top {
    padding-left: 0;
  }
  .crossword {
    margin-left: 1em;
  }

  nav {
    max-width: 465px;
    column-gap: 0;
    grid-template-columns: 120px 200px;
    line-height: 12pt;
  }

  .myName {
    font-size: 18px;
    line-height: 12pt;
    margin-bottom: 0;
  }

  .crossword {
    margin-left: 0;
  }

  .the {
    margin-bottom: 0;
    font-size: 1em;
  }

  .top {
    row-gap: 10px;
    line-height: 14pt;
  }
 .portfolio {
    grid-column: 2;  
    letter-spacing: -3px;
    font-size: 50px;
    line-height: 12pt;
  } 
  .component-button__content-pop {
    display: flex;
    width: 7em;
    height: 1em;
    margin-bottom: 2em;
    font-size: 0.8em;
    line-height: 10pt;
    margin-right: -12px;
  }
} 

@media (max-width: 465px) {

  nav {
    min-width: 500px;
    column-gap: 0;
    grid-template-columns: 170px 200px;
    line-height: 12pt;
  }

  .portfolio {
    grid-column: 2;  
    letter-spacing: -3px;
    font-size: 30px;
    line-height: 12pt;
    display: none !important;
  } 

  .clues {
    /* grid-template-columns: 300px !important; */
    padding: 0;
    margin-left: 2em;
    font-size: 1em;
    justify-content: start;
  }

  }}