
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
font-family: 'Source Sans Pro', sans-serif;

}


.heading-area {

  padding-left: 2%;
height: auto;

}

.setter {
line-height: 0.2em;
font-family: Merriweather, serif;
color: #bb3b80;
display: inline;


}



.italic {
font-style: italic;
}

.icons {
  padding-top: -2em;
  display: inline-flex;;
}

.circle:hover {
  background-color: #bb3b80;


  }
svg:hover{
  fill: white;
}

a {
  color: black
}

.div.grid-item:hover {
  background: yellow;

}

.direction {
  font-weight: 800;
  margin-top: 0;

}

.small-heading, .direction {
  font-family: Merriweather, serif;
}
h1 {
  margin-top: 0;
  font-family: Merriweather, serif;
}

.date {
  height: 0.2em;
  font-size: 0.75rem;
  line-height: 0em;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    position: relative;
    color: #767676;
}

h3 {
  color: #bb3b80;
}


main {

  display: grid;
  /* grid-template-columns: 50vw 40vw; */
  grid-template-rows: 4% 60vh;
  margin-right: 5%;
  grid-column-gap: 1%;
  justify-content: center;
  line-height: 1.5;

}




.grid-container {
  display: grid;
  justify-content: center;
  grid-row: 1;
  width: 90vw;
}

div.grid {
  grid-column: 1;
grid-row: 1;
  justify-self: start;
  margin-left: 20px;
  margin-right: 50px;
  width: 465px;
 height: 465px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 31px;
  height: 31px;
  border: 1px solid black;
  cursor: pointer;
fill: #ffffff;
align-content: center;
justify-content: center;
background-color: black;
}

/* div.letters:hover {
    background: #ffe500;
} */



::selection {
    background: #ffe500;
    color: #121212;

}

/* [class*="-clue"]:hover {
  font-weight: bold;
} */

#tiny {
  vertical-align: super;
  font-size: 0.5em;
  margin-top: 0;
  padding-left: 0.3em;
display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: red;
  display: none;
}

h3 {
  font-size: 0.8em;
}

section.clues {
  justify-content: center;
font-size: 32pt;
grid-row: 1;
align-content: start;
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(2, 50%);
  font-size: 0.875em;

    font-size: 0.8rem;
line-height: 1.375rem;
 font-family: font-family: 'Open Sans', sans-serif;
 font-weight: lighter;


}
h5 {
  display: inline;
  padding: 1em;
}

p {
  display: inline;

}

.clue-container {
  padding: 0.3em;
}

.control-buttons {
      outline: 0;
  background: #bb3b80;
border: 0.0625rem solid #bb3b80;
font-size: 0.875rem;
    line-height: 1.375rem;

    margin-bottom: 0.75rem;
    text-rendering: auto;
color: buttontext;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: center;
align-items: flex-start;
}


.name {
    font-size: 1.0625rem;
    line-height: 1.25rem;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    border-top: 0;
    color: #767676;
    font-style: italic;
    min-height: 0;
    margin-bottom: 0.25rem;
    font-weight: normal;
    width: 100%;
}

.nav-bottom {
background-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
background-repeat: repeat-x;
background-position: bottom;
background-size: 0.0625rem 0.8125rem;
background-color: #ffffff;
content: '';
display: block;
height: 0.8125rem;
border: 0.0625rem solid #dcdcdc;
border-top: 0;
border-bottom: 0;
}

.social-icon svg {
    height: 88%;
    width: 88%;
}

svg {

fill: #bb3b80;
}

.circle {
  padding-top: 0.1em;
  display: flex;
  flex-wrap: nowrap;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  border: 0.0625rem solid #dcdcdc;
  justify-content: center;
  align-content: center;
  margin: 0.3em;
  margin-bottom: 0.5em;
}

.centered-icon svg {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 3em;
}

.social-icon, .social-icon:hover, .social-icon:active, .social-icon:focus {
    color: #ffffff;
    text-decoration: none;
}

.social__item {
    float: left;
    min-width: 2rem;
    padding: 0 0.1875rem 0.375rem 0;
    cursor: pointer;
}

.social__action {
    display: inline-block;
}



.u-unstyled, .inline-list, .linkslist, li {
    margin: 0;
    list-style: none;
  }

  div.letters  {
    padding-top: 0.1em;
    align-content: center;
  font-size: 1em;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white ;
  text-transform: uppercase;
  font-weight: lighter;


  }

  .crossword__controls {
      margin-top: 0.75rem;
      float: left;
      clear: both;
  }

  .crossword__controls .button--primary {
      background: #bb3b80;
      border: 0.0625rem solid #bb3b80;

      font-size: 0.8125rem;
  line-height: 1.125rem;

  height: 1.875rem;
  padding: 0 0.625rem;
  margin-right: 0.625rem;
  line-height: 1.75rem;
  color: #fff;

  display: inline-block;
  vertical-align: top;
  width: auto;
  font-weight: 500;
  text-decoration: none;
  border-radius: 62.5rem;
  border-width: 0.0625rem;
  border-style: solid;
  box-sizing: border-box;
  }

  .crossword__controls .button {
      font-size: 0.875rem;
      line-height: 1.375rem;
    margin-bottom: 0.75rem;
  }

  .crossword__controls .button--primary:hover, .crossword__controls .button--primary:visited, .crossword__controls .button--primary:focus {
    background-color: #942f65;
    border-color: #942f65;
}

.button--primary:hover {
  background: #812958;
  color: black;
}

.button--secondary {
color: #767676;
background: #ededed;
border: 0.0625rem solid #ededed;
font-size: 0.8125rem;
line-height: 1.125rem;

height: 1.875rem;
padding: 0 0.625rem;
margin-right: 0.625rem;
line-height: 1.75rem;
color: #767676;

display: inline-block;
vertical-align: top;
width: auto;
font-weight: 500;
text-decoration: none;
border-radius: 62.5rem;
border-width: 0.0625rem;
border-style: solid;
box-sizing: border-box;
}


.button-container {
  position: relative;
     z-index: -1;
  display: grid;
  grid-row: 3;
  align-content: start;
margin-top: -2em;
  justify-content: center;

    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin-left: 0.3125rem;
    font-style: italic;

}
